{% extends 'shared/layout.html' %}
{% load static %}

{% block content %}
<div class="page-header text-center" style="background-image: url('{% static 'images/page-header-bg.jpg' %}')">
    <div class="container">
        <h1 class="page-title">سبد خرید خالی<span>فروشگاه</span></h1>
    </div>
</div>

<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">خانه</a></li>
            <li class="breadcrumb-item"><a href="{% url 'products:product-list' %}">فروشگاه</a></li>
            <li class="breadcrumb-item active" aria-current="page">سبد خرید خالی</li>
        </ol>
    </div>
</nav>

<div class="page-content">
    <div class="cart">
        <div class="container">
            <div class="page404-bg text-center">
                <div class="page404-text">
                    <div class="empty-image">
                        <img src="{% static 'assets/images/empty3.png' %}" alt="سبد خرید خالی">
                    </div>
                    <div class="empty-text display-3">سبد خرید شما خالی است!</div>

                    <a href="{% url 'products:product-list' %}" class="btn btn-outline-primary-2 btn-order mt-3">
                        <span>رفتن به فروشگاه و شروع خرید</span>
                        <i class="icon-long-arrow-left"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
